.Area {
    background-color: rgba(255, 0, 0, 0.253);
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: default;
  }
  .Area h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Area p {background-color: blue;}