.container {
  display: grid;
  font-family: "PT Sans", sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "area1 area2 area3 area3"
    "area1 area2 area3 area3"
    "area4 area4 area5 area6"
    "area4 area4 area5 area6";
  width: 100vw;
  height: 97vh;
  padding: 10vh 14vw 10vh 14vw;
  background-image: url("../../Assets/Images/bg_disciplines.png");
  position: relative;
  color: aliceblue;
}

.container__titleVertical {
  transform: rotate(-90deg);
  display: flex;
  z-index: 1;
  position: absolute;
  left: -195px;
  top: 2850px;
  font-size: var(--font-size--medium);
  font-weight: 100;
  color: var(--background--white);
  letter-spacing: var(--font-size--regular);
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background--blue);
  opacity: 0.9;
}

.parent {
  width: 100%;
  height: 100%;
  padding: 10vh 14vw 10vh 14vw;
  background-image: url("../../Assets/Images/bg_disciplines.png");
  position: relative;
}

.parent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background--blue);
  opacity: 0.9;
}




.area1,
.area2,
.area3,
.area4,
.area5,
.area6 {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 70%;
  user-select: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 9;
}

.area1 {
  border-radius: 20px 0 0 0;
}

.area1::after,
.area2::after,
.area3::after,
.area4::after,
.area5::after,
.area6::after {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  opacity: 0;
  transition: all .5s ease;
}

.area1::after,
.area2::after,
.area3::after,
.area4::after,
.area5::after,
.area6::after {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  opacity: 0;
  transition: all .5s ease;
}

.area1:hover::after,
.area2:hover::after,
.area3:hover::after,
.area4:hover::after,
.area5:hover::after,
.area6:hover::after {
  height: 100%;
  width: 100%;
  background-color: var(--background--redIntense);
  opacity: 0.6;
  transition: all .5s ease;
}

.area1:hover::after {
  border-radius: 20px 0 0 0;
}

.area6:hover::after {
  border-radius: 0 0 20px 0;
}


.area1 h1,
.area2 h1,
.area3 h1,
.area4 h1,
.area5 h1,
.area6 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: var(--font-size--regular);
  color: var(--font-color--white);
  text-align: center;
}

.area5 h1 {
  padding: 0 5px;
}


.area1 {
  grid-area: area1;
  background-image: url("../../Assets/Images/infra1.png");
}

.area2 {
  grid-area: area2;
  background-image: url("../../Assets/Images/infra2.png");
}

.area3 {
  grid-area: area3;
  background-image: url("../../Assets/Images/infra3.png");
}

.area4 {
  grid-area: area4;
  background-image: url("../../Assets/Images/infra4.png");
}

.area5 {
  grid-area: area5;
  background-image: url("../../Assets/Images/infra5.png");
}

.area6 {
  grid-area: area6;
  background-image: url("../../Assets/Images/infra6.png");
  border-radius: 0px 0 20px 0;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "area1 area1"
      "area1 area1"
      "area2 area3"
      "area2 area3"
      "area4 area4"
      "area4 area4"
      "area5 area6"
      "area5 area6";
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding: 10vh 2vw 2vh 2vw;
  }

  .area1,
  .area2,
  .area3,
  .area4,
  .area5,
  .area6 {
    font-size: 50%;
  }
}