.container {
    display: flex;
    flex-direction: row;
    height: 80px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.container__EscuelaTecnica {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background--blue);
    color: var(--font-color--white);
    font-weight: bold;
}

.container__navBar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container__navBarTop {
    display: flex;
    justify-content: flex-end;
    background-color: var(--background--black);
    height: 30px;
}

.container__navBarTop nav {
    display: flex;
    margin-right: 20px;
}

.container__navBarTop a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--font-color--white);
    margin: auto 25px;
    font-size: var(--font-size--medium);
    font-weight: 400;
}


.container__navBarBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background--white);
    height: 50px;
}

.container__navBarBottom a {
    color: var(--font-color--black);
    margin: auto 100px;
    font-size: var(--font-size--regular);
    font-weight: bold;
}

.container__sideBar {
    display: none;
}

@media only screen and (max-width:768px) {
    .container__sideBar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 80px;
        background-color: var(--background--grey);
        border: none;
        font-size: var(--font-size--bold);
    }

    .container__navBar {
        display: none;
    }

    .container__EscuelaTecnica {
        width: 100%;
    }
}