.container{
    display: flex;
    width: 100vw;
    height: 25vh;
    background-image: url('../../Assets/Images/bg_page_automotores.jpg');
    background-color: var(--background--black);
    background-blend-mode: multiply;
    opacity: 0.99;
    justify-content: center;
    align-items: center;
}