.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  background-image: url('../../Assets/Images/bg_inscripciones.png');
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  padding-bottom: 40px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background--black);
  opacity: 0.98;
}

.container__titleVertical {
  transform: rotate(-90deg);
  display: flex;
  z-index: 1;
  position: absolute;
  left: -115px;
  top: 46%;
  font-size: var(--font-size--small);
  font-weight: 100;
  color: var(--background--white);
  letter-spacing: var(--font-size--medium);
}




.title {
  display: flex;
  margin: 2% auto;
  font-size: var(--font-size--big);
  font-weight: 100;
  letter-spacing: 2px;
  color: var(--background--white);
  z-index: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title span {
  display: flex;
  border-bottom: solid 3px var(--background--redIntense);
  margin-top: .5%;
  width: 20%;
}


.content {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: default;
  z-index: 1;
}

.content__image {
  width: 65%;
  height: 170px;
  background-image: url('../../Assets/Images/inscripciones.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: relative;
}

.content__image::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0 0 0 25px;
  height: 0%;
  width: 100%;
  transition: all .5s ease;
}

.content__image:hover::after {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  border-radius: 0 0 15px 0;
  opacity: .6;
  background-color: var(--background--redIntense);
  transition: all .5s ease;
}


.content__image h2 {
  margin-top: 1.5%;
  font-size: var(--font-size--extraLarge);
  color: var(--font-color--white);
  z-index: 9;
}

.content__image p {
  margin-top: 1.5%;
  margin-left: 2%;
  width: 60%;
  font-size: var(--font-size--medium);
  letter-spacing: var(--font-spacing-medium);
  color: var(--font-color--grey);
}

.content__title__inscripcion {
  font-size: 50px !important;
  display: flex;
  position: absolute;
  top: -15px;
  left: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}



@media only screen and (max-width:768px) {
  .title {
    margin: 20px auto;
    margin-top: 40px;
    font-size: 15px;
  }

  .container__titleVertical {
    display: none;
  }

  .title span {
    margin-top: 10px;
  }

  .content__image p {
    display: none;
  }


  .content__image {
    width: 330px;
    background-size: cover;
  }
  .content__image h2 {
    margin: 65px 8px;
  }

  .content__title__inscripcion{
    top: -60px;
    left: -8px;
  }

}