
.container {
  font-family: 'PT Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-areas:
    "News News News3"
    "News News News3"
    "News2 News2 News3";
  padding: 10vh 13vw 10vh 13vw;
  width: 100vw;
  height: 100vh;
  background-color:var(--background--black);

}

.News {
  grid-area: News;
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.News img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.News h2 {
  position: absolute;
  background-color: var(--background--grayTranslucent);
  color: var(--font-color--white);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size--extraLarge);
  left: 12px;
  bottom: 30px;
  border-radius: 5px;
}
.News h3 {
  position: absolute;
  color: var(--font-color--white);
  background-color: var(--background--redIntense);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  padding: 3px;
  font-size: var(--font-size--mediun);
  left: 12px;
  bottom: 65px;
  border-radius: 5px;
}

.News h4 {
  position: absolute;
  color: var(--font-color--white);
  background-color:var(--background--grayTranslucent);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  padding: 3px;
  font-size: var(--font-size--small);
  left: 12px;
  bottom: 8px;
}


.News2 {
  position: relative;
  grid-area: News2;
  display: grid; 
  gap: 10px;
    grid-template-areas: 
    "News2 News2";
}

.News2Child{
  position: relative;
 
}


.News2Child img {
  object-fit: cover;
  width: 100%;
  height: 70%;
}

.News2Child h2 {
  position: absolute;
  background-color: var(--background--grayTranslucent);
  color: var(--font-color--white);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  font-size: 25px;
  bottom: 36%;
  left: 1px;
  padding: 3px;
  font-size: 22px;
  bottom: 9px;
  padding-left:8px;

}

.News2 h3 {
  position: absolute;
  color: var(--font-color--white);
  background-color: var(--background--redIntense);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  padding: 1px;
  font-size: var(--font-size--mediun);
  padding: 2px;
  font-size: 13px;
  left: 11px;
  bottom: 40px;
  
}

.News2 h4 {
  position: absolute;
  color: var(--font-color--white);
  background-color: var(--background--grayTranslucent);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  padding: 3px;
  font-size: var(--font-size--small);
  left: 1px;
  padding: 3px;
  font-size: 10px;
  bottom: 0px;
  padding-left:8px;
  border-bottom: 1px solid var(--background--redIntense);
  border-left: 1px solid var(--background--redIntense);
  padding-right: px;
}

.News3 {
  position: relative;
  max-width: 100%;
  width: 100%;
  grid-area: News3;
  display: grid; 
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(3,1fr); 
  gap: 10px 10px; 
}
.News3Child{
  position: relative;
 
}

.News3Child img {
  position: absolute;
  width: 100%;
  height: 60%;
}

.News3Child h2 {
  position: absolute;
  color: var(--font-color--white);
  background-color: var(--background--grayTranslucent);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  font-size: 22px;
  left: 8px;
  bottom: 13px;
}

.News3 h3 {
  position: absolute;
  color: var(--font-color--white);
  background-color: var(--background--redIntense);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  padding: 2px;
  font-size: 13px;
  left: 8px;
  bottom: 40px;
}

.News3 h4 {
  position: absolute;
  color: var(--font-color--white);
  background-color: var(--background--grayTranslucent);
  display: inline-block;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  padding: 3px;
  font-size: 10px;
  bottom: 0px;
  padding-left:8px;
  border-bottom: 1px solid var(--background--redIntense);
  border-left: 1px solid var(--background--redIntense);
}
.containerButtongrid {  display: grid;
  grid-template-areas:
    "prevButton newsButton nextButton";
    position: relative;
    width: fit-content;
    height: fit-content;
    left:85%;
    gap: 5px;
    top: 10px;
    font-size:20px;
}


.prevButton { 
  all: unset;
  font-size:20px;
  grid-area: prevButton; 
  color: var(--font-color--white);


}

.newsButton { 
  all: unset;
  font-size:25px;
  bottom: 50px;
  grid-area: newsButton;
  color: var(--font-color--white);
}
  

.nextButton {  all: unset;
  grid-area: nextButton;
  font-size:20px;
  color: var(--font-color--white);
 
}
